/* ChatWidget.css */

/* Widget Header Styles */
.widget-header {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  background-color: #e7f0f7; /* Light blue background color */
  color: #000; /* Black text color */
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.widget-header.minimized {
  padding: 5px;
}

.widget-header.minimized:hover {
  cursor: pointer;
}

.widget-header.minimized > .header-avatar {
  height: 100%;
  width: 100%;
}

.widget-header.minimized > .header-avatar img {
  width: 50px;
  height: 50px;
}

.widget-header.minimized > .header-info,
.widget-header.minimized > .header-buttons {
  display: none;
}

.header-avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.header-info {
  flex-grow: 1;
}

.header-title {
  font-weight: bold;
  font-size: 16px;
}

.header-status {
  color: #007bff;
  font-size: 12px;
}

/* Minimized State Styles */
.chat-widget.minimized {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
}

.header-buttons button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

/* Chat Widget Container */
.chat-widget {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 350px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-family: Arial, sans-serif;
  height: 500px;
  display: flex;
  flex-direction: column;
}

/* Chat Container (for messages) */
.chat-container {
  /* max-height: 300px; */
  overflow-y: auto;
  padding: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Message Styles */
.message {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  max-width: 70%;
}

.customer {
  background-color: #007bff;
  color: #fff;
  align-self: flex-end;
}

.agent {
  background-color: #f4f4f4;
  color: #333;
  align-self: flex-start;
}

/* Message Input Form Styles */
.message-input-form {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.message-input {
  flex-grow: 1;
  padding: 8px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  color: #333;
}

.send-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
}

.send-button:disabled {
  background-color: #ccc; /* Background color when disabled */
  color: #666; /* Text color when disabled */
  cursor: not-allowed; /* Change cursor to not-allowed */
  border: 1px solid #ccc; /* Border style when disabled */
  opacity: 0.7; /* Reduce opacity when disabled (optional) */
}
